.load-more-btn {
  border-radius: 0px !important;
  padding: 10px 20px !important;
  color: #f85606 !important;
  border-color: #f85606 !important;
  background-color: transparent !important;
  width: 400px !important;
}

.load-more-btn:hover {
  background-color: #f85606 !important;
  border-color: #f85606 !important;
  color: #ffffff !important;
}

.load-more-btn:active {
  background-color: #f85606 !important;
  border-color: #f85606 !important;
  color: #ffffff !important;
}
