.footer-heading {
    color: #1b275f;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-link {
    color: #1b275f;
    font-size: 13px;
    text-decoration: none;
    line-height: 1.4;
}

.footer-link:hover {
    text-decoration: underline;
}

.app-links-img {
    padding: 3px;
}