.top-bar {
  font-size: 13px;
  /* position: fixed;
  width: 100%;
  z-index: 1050; */
}

.navbar .nav-link.top-link {
  color: white !important;
}

.navbar .nav-link.top-link:hover {
  color: #66351d !important;
}

.top-bar .navbar {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}